<div id="footer">
    <footer>
        <div class="terms">
            <p>
                UXVideos.com is a <strong>free hosting service for UX Design videos</strong>. We convert your files to various formats. You can grab our 'embed code' to display any video on another website. Every video uploaded, is shown on our
                indexes more or less three days after uploading. About 1200 to 2000 professional videos are uploaded each day (note that graphic and marketing videos are filtered from this page, but shown in their respective categories). Our pages
                (everything that you see hosted on uxvideos.com) contain absolutely no spyware/adware/trojan/etc. There is no charge (no hidden charges either) for viewing our videos.
            </p>
            <p class="newp">
                <em>UXVIDEOS</em> is rated with HUEBR label. Offended designers, you can easily block access to this site. Please <a href="#">read this page</a> for more informations.
            </p>
            <div class="botLinks">
                <a href="#">Terms of service</a> -
                <a href="#">Upload Your Videos</a> -
                <span class="mobile-hide"><a href="#" target="_blank">Download our videos</a> - </span><a href="#">Content removal</a> -
                <a href="#">Advertising</a> -
                <a href="#">RSS Updates</a> -
                <a href="#">RSS Deletes</a> - <a href="#">More...</a></div>
        </div>
        <p class="slogan">UXVideos.com - the best UX videos on internet, 100% free.</p>
    </footer>
</div>
